
@font-face { font-family: datafont; src: url(fonts/Modenine.ttf) }
@font-face { font-family: datafont2; src: url(fonts/Linebeam.ttf) }

.scanlines {
	pointer-events: none; 
	position: absolute;
	overflow: hidden;
	z-index:2;
	width:100%;
	height:100%;
	
}
.scanlines:before, .scanlines:after {
	display: block;
	content: '';
	position: absolute;
}
.scanlines:before {
	height: 2px;
	width: 100%;
	z-index: 2;
	background: rgba(255, 255, 255, .3);
	opacity: 0.75;
	animation: scanline 6s linear infinite;
}
.scanlines:after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483648;
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .3) 51%);
	background-size: 100% 4px;
	animation: scanlines 1s steps(60) infinite;
}
@keyframes scanline {
	0% {
		transform: translate3d(0, 200000%, 0);
	}
}
@keyframes scanlines {
	0% {
		background-position: 0 50%;
	}
}

#body{
	color:rgb(179,255,179);
	text-shadow: 0vh 0vh 2vh #6bff77;
	
}


#terminal{
	background-image:url(images/terminal.png);
	width:160vh;
	height:100vh;
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:absolute;
	bottom:50%;
	right:50%;
	margin-bottom:-50vh;
	margin-right:-80vh;
	z-index:4;
	pointer-events:none;
}

.scanlines {
	width:159.9vh;
	height:100vh;
	bottom:50%;
	right:50%;
	margin-bottom:-50vh;
	margin-right:-79.9vh;
	position: absolute;
	overflow: hidden;
	z-index:2;
	pointer-events:none;
}
.scanlines:before, .scanlines:after {
	display: block;
	pointer-events: none;
	content: '';
	position: absolute;
}
.scanlines:before {
	height: 2px;
	width: 100%;
	z-index: 2147483649;
	background: rgba(59, 255, 102, 0.4);
	opacity: 0.55;
	animation: scanline 6s linear infinite;
}
.scanlines:after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483648;
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .31) 51%);
	background-size: 100% .55vh;
	animation: scanlines .5s steps(60) infinite;
}
@keyframes scanline {
	0% {
		transform: translate3d(0, 200000%, 0);
	}
}
@keyframes scanlines {
	0% {
		background-position: 0 50%;
	}
}

#innershadow{
	box-shadow: inset 0 0 15vh #4db856;
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:absolute;
	width:159.9vh;
	height:100vh;
	bottom:50%;
	right:50%;
	margin-bottom:-50vh;
	margin-right:-79.9vh;
	background-color:#000000;
	pointer-events:none;
	transition-duration: 1s;
}


#logo{
	right:50%;
	top:50%;
	margin-right:-12vh;
	margin-top:-37vh;
	width:59.9vh;
	font-family:datafont2;
	position:absolute;
	color:#6bff77;
	font-size:8vh;
	text-align:center;
	pointer-events:none;
	z-index:1;
}
#logo2{
	background-image:url('images/city.png');
	background-size:contain;
	object-fit:cover;
	background-position:right;
	background-repeat:no-repeat;
	top:50%;
	right:50%;
	width:54vh;
	height:22vh;
	margin-top:-44vh;
	margin-right:-63vh;
	font-family:TermFont;
	position:absolute;
	color:#6bff77;
	font-size:8vh;
	text-align:center;
	z-index:2;
}
#topmission{
	width:76vh;
	height:6vh;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-64vh;
	margin-top:-39vh;
	z-index:1;
	filter:blur(.2vh);
	color:#6bff77;
	font-family:termfont;
	font-size:3.25vh;
}
#bottommission{
	width:76vh;
	height:6vh;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-21vh;
	margin-top:-26vh;
	z-index:1;
	filter:blur(.2vh);
	color:#6bff77;
	font-family:termfont;
	font-size:3.25vh;
}
.container{
	width:160vh;
	height:100vh;
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:absolute;
	bottom:50%;
	right:50%;
	margin-bottom:-50vh;
	margin-right:-80vh;
	z-index:2;
}


.text{
	color:white;
}
.emailcontainer{
	width:83vh;
	height:48vh;
	left:45vh;
	top:30vh;
	border:solid .5vh #6bff77;
	position:absolute;
	font-family:datafont;
	color:rgb(179,255,179);
	text-shadow: 0vh 0vh 2vh #6bff77;
	padding:2vh;
}
.emailbanner{
	width:30vh;
	height:100%;
	position:absolute;
	left:5vh;
	border-right:solid .5vh #6bff77;
}
.emailnotification{
	height:18vh;
	width:28vh;
	position:relative;
	top:0vh;
	left:0vh;
	color:rgb(179,255,179);
	text-shadow: 0vh 0vh 2vh #6bff77;
	border-bottom:solid .5vh #6bff77;
	padding-left:2vh;
	padding-top:2vh;
	transition:.25s;
	cursor:pointer;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}
.emailnotification:hover{
	background-color: rgba(179,255,179,0.2);
}


bigemailheading{
	position:relative;
	margin-left:1vh;
	margin-top:5vh;
	color:#6bff77;
	font-size:2vh;
}
smallemailheading{
	margin-left:3vh;
	margin-top:5vh;
	color:#6bff77;
	font-size:1vh;
}


#loginbox{
	position:absolute;
	width:60vh;
	height:30vh;
	left:50%;
	bottom:50%;
	margin-left:-30vh;
	margin-bottom:-15vh;
	box-shadow: inset 0 0 1vh #4db856, 0 0 1vh #4db856;
	
	}
	#welcome{
	position:absolute;
	color:#4db856;
	font-family:datafont2;
	text-align:center;
	left:50%;
	bottom:50%;
	width:50vh;
	height:20vh;
	margin-left:-25vh;
	margin-bottom:-10vh;
	font-size:4vh;filter:blur(.2vh);
	}
	a:-webkit-any-link {
		cursor:url('images/pointer.png'), pointer; 
	}
	form{
	width:100%;
	height:100%;
	}
	
	input{
	background-color:transparent;
	border:solid .5vh #214b25;
	font-family:datafont2;
	color:#4db856;
	outline: none;
	font-size:2.5vh;
	animation: 1.5s linear infinite condemned_blink_effect;
	width:110vh;
	position:relative;
	left:0vh;
	bottom:0vh;
	filter:blur(.1vh);
	width:40vh;
	margin-left:10vh;
	margin-top:2vh;
	height:4vh;
	filter:blur(.1vh);
	border-radius:1vh;
	box-shadow: 0vh 0vh 1vh #214b25, 0vh 0vh 1vh #214b25;
	}
	input::placeholder{
	color:#4db856;
	}
	
	input:focus{
	color:#4db856;
	animation:none;    
	
	}

#emailpage{
visibility:hidden;

}